header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: lightgreen;
  border-radius: 2.5%;
  width: 100%;
}

header > h1 {
  color: black;
  font-variant: small-caps;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}